---
layout: default
---
<div class="container" style="border-top: #BDC3C7 1px solid">
  </br>
  <center>
    <h3>Frequently Asked Questions</h3>
    {% for category in site.data.faqs.categories %}
    <h4><a href="#{{ category[0] }}">{{ category[1] }}</a></h4>
    {% endfor %}
  </center></br></br></br></br>
</div>

{% for category in site.data.faqs.categories %}
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <h4 id="{{ category[0] }}" style="color: #e82776">{{ category[1] }}</h4></br>
  </div>
</div>
{% for faq in site.data.faqs.questions %}
{% if faq.category == category[0] %}
<div class="container">
  
  <div class="col-md-10 col-md-offset-1">
    <p><b>{{ faq.question }}</b></p>
    <p>{{ faq.answer }}</p>
  </div>
</div>
</br>
{% endif %}
{% endfor %}
{% endfor %}
      
</br></br>

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <center><h4>The City of New York is an equal opportunity employer:</h4></center></br>
    <p>The City of New York is its people—all its people. We do not discriminate in employment on the basis of race, color, religion, sex (including pregnancy and gender identity), national origin, political affiliation, sexual orientation, marital status, disability, genetic information, age, membership in an employee organization, retaliation, parental status, military service, or other non-merit factor.</p>
  </div>
</div>

</br></br></br><!-- /.container -->