<footer>
  <div class="container">
    <div class="col-md-3">
      <a href="http://www1.nyc.gov/nyc-resources/agencies.page">Directory of City Agencies</a></br>
      <a href="http://www.nyc.gov/notifynyc">Notify NYC</a></br>
      <a href="http://www1.nyc.gov/connect/applications.page">NYC Mobile Apps</a></br>
    </div>
    <div class="col-md-3">
      <a href="http://www1.nyc.gov/home/contact-us.page">Contact NYC Government</a></br>
      <a href="http://a856-citystore.nyc.gov/">CityStore</a></br>
      <a href="http://www1.nyc.gov/nyc-resources/nyc-maps.page">Maps </a></br>
    </div>
    <div class="col-md-3">
      <a href="https://a127-ess.nyc.gov">City Employees</a></br>
      <a href="http://www1.nyc.gov/connect/social-media.page">Stay Connected</a></br>
      <a href="http://www1.nyc.gov/nyc-resources/resident-toolkit.page">Resident Toolkit</a></br></br>
    </div>
    <div class="col-md-3">
      <img cclass="img-responsive" src="img/nyc.png">
      <p>City of New York. 2015 All Rights Reserved, NYC is a trademark and service mark of the City of New York.</p>
      <p><a target="_blank" href="http://www1.nyc.gov/home/privacy-policy.page" title="Privicy">Privacy Policy</a>.
      <a target="_blank" href="http://www1.nyc.gov/home/terms-of-use.page" title="TOU">Terms of Use</a>.</p>
    </div>
  </div>
</footer>